<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Coffe Shop</title>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
                Hola,
                {% if user.is_authenticated %}
                    {{ user.username }}

                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        Cerrar sesion                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                    </button>
                </form>
                {% else %}
                    <a href="{% url "login" %}">Login</a>
                {%endif%}
                <a href="{% url "my_order" %}" class="group inline-block rounded-sm bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-[2px] hover:text-white focus:ring-3 focus:outline-hidden">
                    Mi pedido
                </a>
                <div class="pl-2 ...">
                {% block content %}{% endblock content %} 
                </div>
                <script src="" async defer></script>
               <!--<img src="https://media.istockphoto.com/id/505168330/es/foto/taza-de-caf%C3%A9-con-granos-de-caf%C3%A9-con-leche-y-varillas-de-canela.jpg?s=612x612&w=0&k=20&c=ud_g_RyWoPSEJ4_KkpsQfFuWh3iVPlyiTHqpu69ayEg=" class="rounded" alt=""> --> 
            </div>
        </div>
    
    </body>
</html>